<tr>
  <td class="date">
    <div class="day">25</div>
    <div class="month">Mar</div>
  </td>
  <td>
    <div>
      <span class="type">Desfalco</span>
    </div>
    <div>
      <span class="concept">Pendejadas</span>
    </div>
  </td>
  <td class="category text-right">Bobadas</td>
  <td class="text-right" style="width: 170px;">
    <div class="amount">1000</div>
  </td>
</tr>