<div class="row" style="margin-top: 10px;" id="index-bar">
  <div class="summary-box col-md-4 text-center">
    <div class="summary-value"><%= number_to_currency(@expenses.sum(:amount), precision: 0, delimiter: ',') %></div>
    <div class="summary-label">Total</div>

  </diV>
  <div class="summary-box col-md-4 text-center">
    <div class="summary-value"><%= @expenses.count %></div>
    <div class="summary-label">Transactions</div>
  </div>
  <div class="summary-box col-md-4 text-center">
    <div class="summary-value"><%= number_to_currency(@expenses.average(:amount), precision: 0, delimiter: ',') %></div>
    <div class="summary-label">Average</div>
  </div>
</div>